.RegisterFormComp_con {
    /* border: 2px solid black; */
    background-image: url("../../assets/gym-bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 90vh;
    width: 100%;
}

.RegisterFormComp_back {
    /* border: 2px solid white; */
    height: 8vh;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}

.RegisterFormComp_back_box {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.RegisterFormComp_heading {
    /* border: 2px solid white; */
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterFormComp_form_con {
    /* border: 2px solid white; */
    height: 70vh;
    display: flex;
}

.RegisterFormComp_form_inps {
    /* border: 2px solid white; */
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;

}

.RegisterFormComp_form_inps_in {
    /* border: 2px solid white; */
    border-radius: 10px;
    width: 60%;
    height: 100%;
    background-color: #e2e2e251;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.RegisterFormComp_form_camera_con {
    /* border: 2px solid white; */
    height: 100%;
    width: 40%;
}

.RegisterFormComp_form_cam {
    border: 2px solid white;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* font-size: x-large; */

}

.RegisterFormComp_form_cam_btn {
    /* border: 2px solid white; */
    margin-top: 15px;


}

.reg_fr_btn {
    border: 2px solid white;
    height: 6vh;
    border-radius: 5px;
    margin-left: 30px;
    width: 200px;

}