table {
    /* border: 2px solid black; */
    border-collapse: separate;
    border-spacing: 4px 15px;
    font-family: var(--primaryFont);
    width:80vw;
    /* background-color: aqua; */
    /* padding: 0px; */

}

.table_con {
    overflow: auto;
    height: 100%;
}




th,
td {
    /* border: 1px solid black; */
    padding: 10px 15px;
    background-color: whitesmoke;
}
th{
    background-color: orangered;
    color: white;
}

thead {
    /* border: 2px solid black; */
    position: sticky;
    top: 0px;
}

tbody {
    /* border: 2px solid black; */
    scroll-behavior: smooth;

}